<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.caffeinatedgeek.ca.strixe" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>StriXe</name>
  <description>
        Five Pin Bowling Score Tracker
    </description>
  <author email="gibble+googleplay@gmail.com" href="http://caffeinatedgeek.ca">
      Chad Hurd
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>